<html>
  <body>
    <h2>Titulo con h2</h2>
    <p id="p1">Este es el párrafo 1 del trabajo</p>
    <p id="p2">Este es el segundo párrafo del trabajo</p>
    <ul>
      <li>
        <a href="https://support.microsoft.com/es-es/topic/windows-buscar-vulnerabilidades-en-windows-server-2008-13-de-junio-de-2017-c3ade881-e2d7-b648-4bd5-587c9584724e">Vulnerabilidades en windows</a>
      </li>
      <li>
        <a href="https://www.upguard.com/blog/top-20-critical-windows-server-2008-vulnerabilities-and-remediation-tips">Las 20 vulnerabilidades mas criticas de windows server 2008</a>
      </li>
      <li>
        <a href="https://www.incibe.es/empresas/avisos/vulnerabilidad-critica-del-rol-dns-las-versiones-windows-server">Otras vulnerabilidades</a>
      </li>
    </ul>
    <table>
      <tr>
        <th>Productos</th>
        <th>Existencias</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td class="fila1">Iphone</td>
        <td class="fila1">10</td>
        <td class="fila1">$2.000.000</td>
      </tr>
      <tr>
        <td class="fila2">Mouse</td>
        <td class="fila2">100</td>
        <td class="fila2">$50.000</td>
      </tr>
      <tr>
        <td class="fila3">PC Gamer</td>
        <td class="fila3">2</td>
        <td class="fila3">$3.000.000</td>
      </tr>
    </table>
  </body>
</html>

<router-outlet />
